.header {
  position: fixed;
  z-index: var(--header-z-index);
  width: 100%;
}

.annoucementBar {
  background: black;
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0 var(--main-gap);
  }
}

.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer ul {
  display: flex;
  gap: var(--main-gap);

  @media (max-width: 480px) {
    flex-direction: column;
    gap: calc(var(--main-gap) / 2);
  }
}
