@import url("./reset.css");
@import url("./tokens.css");

:root {
  /* flexoki theme */
  --color-text: #100f0f;
  --color-text-faint: #575653;
  --color-text-muted: #878580;
  --color-text-error: #d14d41;
  --color-text-warning: #da702c;
  --color-text-success: #879a39;
  --color-text-link: #3aa99f;
  --color-bg: #fffcf0;
  --color-bg-2: #f2f0e5;
  --color-ui: #e6e4d9;
  --color-ui-2: #dad8ce;

  --main-gap: 1ch;
  --main-margin: 1ch;
  --main-padding: 4.5ch;

  --header-z-index: 10;
  --title-z-index: 9;

  --font-sans-serif: ui-sans-serif, system-ui, sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: var(--main-gap);
  padding-inline: var(--main-gap);
}

.editorial-block {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 10;
}

.text-content {
  position: absolute;
  top: 50%;
}

.product-card {
  position: relative;
  aspect-ratio: 0.7;
  margin: auto;
}

.cart {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.99;
  padding-block: var(--main-padding);
  padding-inline: calc(var(--main-padding) / 2);
  background-color: var(--color-bg);
}

.cart-button {
  position: relative;
  z-index: 10;
}
